# Dataset — too large for GitHub
data/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints